#error-message {
    visibility: hidden;
    color: red;
}

.btn-primary {
    background-color: #419E5B;
    color: white;
    border-color: #419E5B;
}

.btn-outline-primary {
    color: #419E5B;
    border-color: #419E5B;
}

.btn-outline-primary:hover {
    background-color: #419E5B;
    color: white;
    border-color: #419E5B;
}

.btn-primary:hover {
    background-color: white;
    color:  #419E5B;
    border-color:#419E5B;
}