@media (min-width: 1200px) and (max-width:1439px){
    /*index*/
    .item{
        font-size: 1.4em;
    }
    .item:hover{
        font-size: 1.65em;
    }
    .tamaño{
        height: fit-content;
    }
    .navlap{
        height: fit-content;
    }
    .navipad{
        visibility: collapse;
    }
    .nav-logo img{
        margin-left: 1em;
        width: 8em;
    }
    .btn{
        font-size: 1.4em;
    }
    .slogan{
        margin-top: 2em;
    }
    .boton{
        display: none;
    }
    .hero{
        height: calc(100vh - 5.55em);
    }
    .description{
        padding-left: 2em;
        padding-right: 2em;
    }
    /*contacto*/
    .contacto_main{
        height: calc(100vh - 5.550625em);
    }
    #contacto-title{
        font-size: 2em;
        top: 0.75em;
    }
    .formulario{
        top: 4em;
    }
    .campo-text{
        font-size: 1em;
    }
    .campo-text-mensaje{
        font-size: 1em;
    }
    .text h2{
        font-size: 2em;
    }
    /* guia */
    .main-guia{
        background-image: url(../img/Background_Guias.png);
    }
    .navipad{
        height: 5.55em;
        visibility: hidden;
    }
    .img_guias{
        width: 10em;
    }
    /* galeria */
    .galeria_main{
        display: flex;
        flex-direction: column;
        padding: 10rem;
    }
    .carrousel {
        margin-bottom: 10rem;
    }
}