@media (min-width:1400px) {
    main {
        background-image: url('../img/Background_Guias.png');
    }

    .description {
        margin: 2.5em 5.75em 0 5.75em;
        padding: 0;
        font-size: 1.75em;
    }

    .navipad {
        visibility: collapse;
        height: 6.25em;
    }

    .navlap {
        width: 100%;
    }

    .btnlap {
        display: none;
    }

    /* Comienzo de guia.html */

    /*contacto*/
    .formulario {
        top: 5.5rem;
    }

    #contacto-title {
        top: 0.5rem;
    }
}