@media (max-width:767px){
    .slogan{
        margin: 4em auto;
        font-size: 0.75em;
    }
    .navlap{
        visibility: collapse;
    }
    #ipadlogo{
        width: 8em;
    }
    .nav-item{
        font-size: 1.2em;
    }
    .description{
        padding: 0%;
    }
    .hero{
        /*height: 1024px;*/
        width: auto;
    }
    .contenedor{
        width: 100%;
    }
    .fondo{
        object-fit: cover;
        display: none;
    }
    .boton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
   .btnlap{
        border-radius: 2em;
        font-size: 1.5em;
        margin-top: 1em;
        color: #419E5B;
        padding: 0.37em 0.75em;
        border-style: initial;
        width: 75%;
   }
   .btnlap:hover{
        background-color: #419E5B;
        color: white;
        border-color: white;
        border-style: double;
   }
   .main-guia{
        width: 100%;
        background-color: #419E5B;
        height: fit-content;
   }
   .guia-1{
        margin: 0 auto;
        border: none;
        border-radius: 1em;
        background-color: rgba(13, 101, 38, 0.25);
        width: fit-content;
        text-align: center;
        padding: 1em;
        font-size: 1.4em;
   }
   .cont_guia{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
   }
   .img_guias{
        margin-bottom: 1em;
        width: 8em;
   }
   /* Nosotros */
   .nosotros_main {
        height: fit-content;
   }
   .contenido_nosotros {
        flex-direction: column;
   }
   .nosotros {
        flex-direction: column;
   }
   .contenedor_descripcion {
    width: 90%;
   }
   .nosotros_title_descripcion {
    font-size: 2.5rem;
   }
   /* galeria */
   .carrousel .img {
    width: 85%;
}
    /*modal guia*/
    .boton_modal_guia {
        padding: 0.3rem;
        font-size: 1rem;
    }
    .botones_modal_guia {
        gap: 1rem;
    }
    /*contacto*/
    #contacto-title {
        font-size: 3rem;
    }

    .formulario {
        padding: 0;
        padding-top: 2rem;
    }

    .campo-text {
        padding: 1.5rem;
    }
}