@media (max-width:800px) {

    body{
        height: 657px;
    }
    .hero {
        height: calc(657px - 80px);
    }
    .tamaño{
        height: 80px;
    }
    .nav-logo{
        height: 80px;
    }
    .item{
        font-size: 1.5rem;
    }
    .item:hover{
        font-size: 1.7rem;
        color:#419E5B;
    }
    .navbar-brand img{
        padding-bottom: 10px;
        height: 80px;
    }
    .container{
        padding-bottom: 10px;
    }
    .slogan{
        margin: 20px;
        padding: 20px 20px 0px 20px;
        font-size: 2.6rem;
    }
    .description{
        margin: 0px 35px 2px 35px;
        font-size: 1.4rem;
    }
    .contenedor{
        height: calc(657px - 80px);
    }
    .fondo{
        height: calc(657px - 80px);
    }
    .btn{
        font-size: 1.3rem;
        margin-top: 50px;
        margin-left: 100px;
    }
    main{
        height: calc(100vh - 80px);
    }
}
