:root{
    --verde: #419E5B;
}

body{
    font-family: 'Jost', sans-serif;
}

.item{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: grey;
    font-size: 1.75rem;
}

.item:hover{
    font-size: 1.85rem;
    color:#419E5B;
}

.contenedor{
    width: 50%;
    background-color: var(--verde);
    height: 100%;
}

.slogan{
    margin-top: 200px;
    text-align: center;
    color: white;
}
.slogan h2{
    font-size: 4rem;
}

.description{
    margin-top: 50px;
    font-size: 1.5rem;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    color: white;
}

.tamaño{
    height: 100px;
}

.hero{
    height: calc(100vh - 100px);
    display: flex;
}
.nav-logo img{
    padding-left: 15%;
    width: 200px;
}
.fondo{
    width: 50%;
}

.btn{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color:var(--verde);
    font-size: 27px;
    text-decoration: none;
    background-color: white;
    margin-left: 42.5%;
    margin-top: 50px;
}

.btn:hover{
    background-color: white;
}

.container{
    width: 62%;
    padding-left: 12%;
    padding-right: 2%;
    margin-right: 0px;
}
main{
    background-color: var(--verde);
    height: calc(100vh - 100px);
    border: 1px white;
    display: flex;
}

@media (min-width: 312px) and (max-width: 480px){
    .description{
        padding-left: 25px;  
        padding-right: 25px;
        font-size: 1.4rem;
    }
    .slogan{
        margin-top: 200px;
    }
    .slogan h2{
        font-size: 3.5rem;
    }
    .contenedor{
        width: 100%;
    }
    .fondo{
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .slogan h2{
        font-size: 3.5rem;
    }
    .slogan{
        margin-top: 200px;
    }
    .description{
        padding-left: 20px;  
        padding-right: 20px;
    }
    .fondo{
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width:1140px){
    .slogan{
        margin-top: 200px;
    }
    .description{
        padding-left: 100px;  
        padding-right: 100px;
    }
    .fondo{
        object-fit: cover;
    }
}
@media (min-width: 768px) and (max-width:1140px){
    .slogan{
        margin-top: 200px;
    }
    .description{
        padding-left: 100px;  
        padding-right: 100px;
    }
    .fondo{
        object-fit: cover;
    }
}

@media (min-width: 1140px) and (max-width:1440px){
    .slogan{
        margin-top: 200px;
    }
    .description{
        padding-left: 25px;  
        padding-right: 25px;
    }
    .fondo{
        object-fit: cover;
    }
}
.btn-primary {
    background-color: #419E5B;
    color: white;
    border-color: #419E5B;
    margin: 0%;
}

.guia-1{
    border: 1px solid;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    width: 33%;
    height: 450px;
    color: white;
    text-align: center;
    display: block;
}
.text{
    padding-top: 10px;
}
.momo{
    padding-top: 25px;
    width: 250px;
}
.text{
    font-size: 2rem;
}