:root{
    --verde: #419E5B;

}
/* Globales */
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: 'Jost', sans-serif;
}
.hero{
    background-color: var(--verde);
    height: calc(100vh - 6.25em);
    border: 0.0625em white;
    display: flex;
}
.fondo{
    width: 50%;
}
#ham_title{
    text-decoration: none;
    color: #419E5B;
}
/*  main content */
.hero{
    height: calc(100vh - 6.25em);
    display: flex;
}
.contenedor{
    width: 50%;
    background-color: var(--verde);
    height: 100%;
}
.slogan{
    margin-top: 12.5em;
    text-align: center;
    color: white;
}
.slogan h2{
    font-size: 4em;
}
.description{
    margin-top: 3.125em;
    font-size: 1.5em;
    text-align: center;
    color: white;
}
.btn{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1.75em;
    color:var(--verde);
    font-size: 1.6875em;
    text-decoration: none;
    background-color: white;
    margin-left: 42.5%;
    margin-top: 3.125em;
}
.btn:hover{
    background-color: white;
    color: #419E5B;
    border-color: #419E5B;
}
/* navlap content */
.container{
    width: 62%;
    padding-left: 12%;
    padding-right: 2%;
    margin-right: 0px;
}
.item{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: grey;
    font-size: 1.75em;
}
.item:hover{
    font-size: 1.85em;
    color:#419E5B;
}
.item:active{
    color: var(--verde);
}
.btn-primary {
    background-color: #419E5B;
    color: white;
    border-color: #419E5B;
    margin: 0%;
}
.nav-logo img{
    width: 9.5em;
    margin-left: 2em;
}
.tamaño{                  /* tamaño nav lap */
    height: 6.25em;
}
/* Pestaña Guia */
.guia-1{
    border: 1px solid;
    margin-top: 6.25em;
    height: fit-content;
    color: white;
    text-align: center;
}
.momo{
    padding-top: 1.5625em;
    width: 15.625em;
}
.main-guia{
    height: calc(100vh - 6.25em);
}
.btnguia{
    border-radius: 2em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #419E5B;
    padding: 0.37em 0.75em;
    border-style: initial;
}
.btnguia:hover{
    background-color: #419E5B;
    color: white;
    border-color: white;
    border-style: double;
}
/* Contacto */
.contacto_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/Background_Guias.png);
    height: calc(100vh - 6.25em);
}
/*.form_cont{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    background-color: rgba(0, 0, 0, 0.25); 
}
*/
.formulario{
    padding: 5em;
    margin-top: 1em;
    width: min( 60em, 100%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    position: absolute;
    bottom: 0;
    top: 12em;
}
h1{
    font-size: 3em;
    color: white;
    font-weight: lighter;
    position: absolute;
    top: 1.5em;
}
.campo{
    margin-bottom: 1em;
    width: 100%;
}
.campo-text{
    border: none;
    width: 75%;
    height: 1.5em;
    border-radius: 1em;
    padding: 2em;
    font-size: 1.3em;
}
.campo-text-mensaje{
    border: none;
    width: 75%;
    border-radius: 1em;
    padding: 2em;
    font-size: 1.3em;
}
#redes{
    margin-top: 2.5em;
}
#contacto-title{
    font-size: 4em;
}
/* galeria */
.galeria_main{
    height: 53em;
}
.carrousel{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 5em;
}
.carrousel .img{
    -webkit-box-shadow: 5px 5px 50px 27px #000000; 
    box-shadow: 5px 5px 50px 27px #000000;  
    border: none;
    border-radius: 2em;
    width: calc(100% / 3);
    height: 20em;
}
.puntos{
    display:flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    width: 25%;
    border-color: black;
    border: 1px solid;
    padding: 0%;
    margin-top: 2em;
}
.punto{
    font-size: 2em;
    list-style-type: none;
}

.hid {
    display: none;
}
/* Nosotros */
.nosotros_main {
    height: calc(100vh - 5.550625em);
    background-image: url(../img/Background_Guias.png);
}
.contenido_nosotros{
    height: 100%;
    display: flex;
    align-items: center;
}
.contenido_nosotros .nosotros {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1em;

}
.alinear {
    display: flex;
    justify-content: center;
}

/* CSS para modal auth */

.contenedor-sesion {
    max-width: 100vw;
    margin: 0 auto;
    background-image: url(../auth/back_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4rem;
    padding: 2rem;
}

.contenedor-sesion__inputs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 75%;
}

.contenedor-sesion__inputs input {
    border: 1px solid;
    border-color: gray;
    border-radius: 5rem;
    padding: 0.5rem;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    width: 100%;
}

h1 {
    font-weight: lighter;
    text-align: center;
    color: #419E5B;
    margin-top: 0%;
}

#desvio-crear {
    color: #419E5B;
    font-size: 1rem;
    text-align: center;
}

#desvio-crear a {
    text-decoration: none;
    color: #6992FA;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.botones button {
    border: none;
    border-radius: 1.5rem;
    background-color: #419E5B;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    padding: 0.7rem;
}

#boton-cerrar {
    border: 1px;
    border-style: solid;
    background-color: white;
    color: #419E5B;
}

.hid {
    display: none; /* Clase para esconder el div de inicio/crear */
}

.contenedor-crear-sesion {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.movido {
    position: absolute;
    top:0%;
    left: 12%;
}

.title {
    text-align: center;
    color: #419E5B;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

#desvio-h2 {
    font-size: 1.2rem;
    margin: 0%;
    white-space: nowrap;
    font-weight: lighter;
}

.botones-crear-sesion {
    margin-top: -1.2rem;
}